@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&family=Roboto:wght@500&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    color: #5D7B6F;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}
#header {
    display: grid;
    padding: 20px;
    border-radius: 30px;
    grid-template-columns: 350px auto 350px;
    background-color: white;
    text-align: center;
    margin-bottom: 40px;
}
#sign{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
#userName{
    display: flex;
    height: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scale: 1.1;
}
#logout{
    border-radius: 40px;
    display: flex;
    height: 60%;
    width: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#villa-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.villa{
    background-color: white;
    width: 93%;
    height: 400px;
    margin-bottom: 40px;
    border-radius: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5fr 1fr;
    transition-duration: 0.2s;
    border: white 4px solid;
    grid-template-areas: "picture picture" "edit delete";
}
.villa:hover{
    transition-duration: 0.2s;
    animation: choose 1s infinite;
}
#addVilla{
    background-image: url("icon/add.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15%;
}
@keyframes choose {
    0% {
        border: #A4C3A2 4px solid;
    }
    50% {
        border: #F15F90 4px solid;
    }
    100% {
        border: #A4C3A2 4px solid;
    }
}
.villa-picture {
    grid-area: picture;
    width: 96%;
    margin-top: 2%;
    margin-left: 2%;
    border-radius: 30px;
    background-position: center;
    background-size: cover;
    transition: background-image 0.5s ease-in-out;
}
.villa button {
    width: 86%;
    margin-left: 7%;
    margin-right: 7%;
    height: 60%;
    border-radius: 50px;
    margin-top: 5%;
    font-size: 15px;
    border: none;
}
.edit{
    grid-area: edit;
}

.delete{
    grid-area: delete;
}
#edit-board{
    display: none;
    position: fixed;
    border-radius: 30px;
    background-color: rgba(255,255,255,0.9);
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 3fr 1fr 1fr 1fr 0.8fr;
    grid-template-areas: "array-picture array-picture array-picture array-picture array-picture array-picture"
                        "map area width deep price capacity"
                        "map level garage gym relax bedroom"
                        "map toilet living kitchen none1 none1"
                        "map none none none close finish";
}
#picture{
    grid-area: array-picture;
    border-radius: 30px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    overflow: auto;
}
#picture img{
    margin-left: 5%;
    margin-top: 5%;
    width: 90%;
    height: 90%;
}
.array-detail-picture{
    height: 90%;
    width: 90%;
    margin: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    background-position: center;
}
#add-detail-picture{
    background-image: url("icon/addImg.png");
    background-position: center;
    background-size: 30%;
    background-repeat: no-repeat;
}
#map-picture{
    grid-area: map;
    border-radius: 30px;
    display: grid;
    grid-template-rows: 4fr 1fr;
    grid-template-areas: "map-picture" "button-change";
}
#map-detail-picture{
    grid-area: map-picture;
    margin-top: 2.5%;
    height: 95%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
#map-change{
    grid-area: button-change;
    margin-left: 5%;
}
#delete-board{
    opacity: 0.98;
    position: fixed;
    width: 30%;
    height: 150px;
    top: 20%;
    left: 40%;
    border-radius: 20px;
    display: none;
    grid-template-columns: 0.75fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "warning alert-delete-board alert-delete-board" "warning delete-delete-board close-delete-board";
}
#delete-board button{
    width: 80%;
    height: 50px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    border-radius: 50px;
    opacity: 100%;
}
#warning-delete-villa{
    grid-area: warning;

    background-image: url("icon/delete-villa.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#alert-delete-board{
    text-align: center;
    grid-area: alert-delete-board;
}
#delete-delete-board{
    grid-area: delete-delete-board;
}
#close-delete-board{
    grid-area: close-delete-board;
}

#area{
    grid-area: area;
}
#width{
    grid-area: width;
}
#deep{
    grid-area: deep;
}
#price{
    grid-area: price;
}
#level{
    grid-area: level;
}
#garage{
    grid-area: garage;
}
#gym{
    grid-area: gym;
}
#relax{
    grid-area: relax;
}
#toilet{
    grid-area: toilet;
}
#living{
    grid-area: living;
}
#kitchen{
    grid-area: kitchen;
}
#bedroom{
    grid-area: bedroom;
}
#capacity{
    grid-area: capacity;
}
#button-close{
    grid-area: close;
}
#button-finish{
    grid-area: finish;
}
#edit-board div{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
#edit-board input{
    border-radius: 30px;
    height: 30px;
    padding-left: 20px;
    border: #5D7B6F 1px dot-dash;
}
#edit-board button{
    width: 85%;
    height: 60%;
    border: none;
    border-radius: 30px;
    font-size: 120%;
}
#logout-board{
    position: fixed;
    display: none;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 1fr;
    grid-template-areas: "logout-alert logout-alert" "close logout";
    border-radius: 20px;
    top: 10%;
    width: 26%;
    left: 38%;
    padding-top: 0;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
}
#logout-alert{
    grid-area: logout-alert;
}
#logout-board button{
    width: 90%;
    border-radius: 30px;
    transition-duration: 0.2s;
}
#logout-board button:hover{
    scale: 1.05;
    transition-duration: 0.2s;
}
#logout-board p{
    color: white;
}
#count-down{
    color: red;
    scale: 1.1;
}
#villa-delete-id{
    scale: 1.1;
    color: red;
}
#alert-choose-picture{
    position: fixed;
    display: none;
    border-radius: 20px;
    top: 10%;
    width: 20%;
    left: 40%;
    padding-top: 0;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
    color: red;

    align-items: center;
    text-align: center; /* Căn giữa nội dung ngang */
    flex-direction: column;
    justify-content: center;
}
#alert-choose-picture button{
    width: 40%;
    padding: 20px;
    border-radius: 30px;
    transition-duration: 0.2s;
    border: none;
}
#alert-choose-picture button:hover{
    scale: 1.05;
    transition-duration: 0.2s;
}
#alert-choose-picture p{
    font-size: 20px;
    scale: 1.1;
    color: white;
}
.hover{
    transition-duration: 0.2s;
}
.hover:hover{
    scale: 1.1;
    background-color: #B0D4B8;
    color: white;
    transition-duration: 0.2s;
}
.boxshadow-inset{
    box-shadow: inset 10px 10px 20px #5D7B6F;
}
.boxshadow-outset{
    box-shadow: 10px 10px 20px #5D7B6F;
}
.backgroundcolor-5{
    background-color: #5D7B6F;
    color: white;
}
.backgroundcolor-4{
    background-color: #A4C3A2;
    color: white;
}
.backgroundcolor-3{
    background-color: #B0D4B8;
    color: white;
}
.backgroundcolor-2{
    background-color: #EAE7D6;
}
.backgroundcolor-1{
    background-color: #D7F9FA;
}
::-webkit-scrollbar {
    width: 0;
}